<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {{{_sections.head}}}
        <title>Web-scraping application</title>
    </head>
    <body>
        {{{body}}}
        {{{_sections.script}}}
    </body>
</html>
